
dotenv
faiss-gpu-cu12[fix-cuda]
fastapi
langchain
langgraph
langchain-cli
langchain_core
langchain_community
langchain_huggingface
langchain-core
langchain_huggingface
langsmith

pypdf
python-dotenv
langserve[all]

loguru

ctransformers
transformers

tensorflow

